.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #17072B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
body.dark {
  background-color: #17072B;
  color: #fff;
}

body.light {
  background-color: #fff;
  color: #17072B;
}

.navbar {
  background: linear-gradient(to bottom, #17072B, #3B3A54) !important;
}

.table-dark {
  background-color: #17072B;
  color: #fff;
}

.table-dark th,
.table-dark td {
  border-color: #fff;
}

.table-light {
  background-color: #fff;
  color: #3B3A54;
}

.table-light th,
.table-light td {
  border-color: #17072B;
}

.nav-link-custom {
  font-size: 20px; /* Adjust the size as needed */
  color: #fff !important; /* Use !important to override the default color */
  font-weight: bold;
}
.nav-link-large {
  font-size: 1.5em; /* Increase the font size */
  padding: 10px; /* Increase the overall size */
}

.dropdown-hover:hover .dropdown-menu {
  display: block;
}

@keyframes fade {
  0% {opacity: 0.8;}
  50% {opacity: 1;}
  100% {opacity: 0.8;}
}

.fade-animation {
  animation: fade 6s infinite;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width:60%;
  height: 65vh; /* Adjust the height */
  margin: auto;
  position: absolute;
  top: 10%; /* Adjust the position */
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, #646187, transparent); /* Grey to transparent gradient */
  animation: fade 6s infinite; /* Add the fade animation */
}