.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
}

.chat-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    animation: fadein 2s;
}

.chat-messages {
    width: 50%;
    max-height: 80vh;
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #17072B, #646187); /* Light grey to purple gradient */
  }

  .chat-labels {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #17072B; /* Light grey background */
    border-radius: 5px;
}

.chat-labels div {
    font-size: 2em;
    font-weight: bold;
}

.chat-labels div span {
    margin-right: 5px;
}

.chat-message {
    font-size: 24px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.chat-message.right {
    text-align: right;
    color: white;
    background-color: #17072B;
}

.chat-message.left {
    text-align: left;
    color: #17072B;
    background-color: #D3D3D3;
}

.chat-timestamp {
    font-size: 12px;
    text-align: right;
}

.typing-indicator {
    background-color: #17072B;
    color: #ffffff;
    font-size: 1.8em;
    text-align: right;
}

.chat-inputs {
    width: 50%;
    display: flex;
    align-items: center;
}

.file-upload-label {
    cursor: pointer;
    margin-right: 10px;
}

.file-upload-input {
    display: none;
}

.chat-text-input {
    flex: 1;
    height: 50px;
    font-size: 18px;
    margin-right: 10px;
}

.send-button {
    height: 70px;
    font-size: 24px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .chat-container {
      padding: 10px;
    }
  
    .chat-messages, .chat-inputs {
      width: 100%;
    }
  
    .chat-logo {
      width: 50px;
      height: 50px;
    }
  }